@import url('https://fonts.googleapis.com/css?family=Montserrat|Fira+Mono');

html {
  font-family: 'Fira Mono', monospace;
  height: 100vh;
  background-color: rgb(25, 28, 41);
  color: white;
  line-height: 2rem;
}

body {
  margin: 15px;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
}

header {
  height: 15vh;
}

a {
  background-color: rgb(95, 57, 88);
  padding: 2px;
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

ul {
  padding: 0;
  list-style: square;
}

section {
  margin: auto;
  max-width: 600px;
}

section.skills {
  max-width: none;
}

div.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.skills div {
  margin: 15px;
}