@import url('https://fonts.googleapis.com/css?family=Montserrat|Fira+Mono');

:root {
  --main-color: hsl(0, 0%, 80%);
}

html {
  font-family: 'Fira Mono', monospace;
  height: 100vh;
  background-color: rgb(25, 28, 41);
  color: var(--main-color);
  line-height: 2rem;
  font-size: 1.5rem;
}

body {
  margin: 30px 15px;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
}

header {
  height: 15vh;
}

a {
  background-color: rgb(95, 57, 88);
  padding: 2px;
  text-decoration: none;
  color: var(--main-color);
}

a:link,
a:visited {
  color: var(--main-color);
}

ul {
  padding: 0;
  list-style: inside square;
  text-align: left;
}

section {
  margin: auto;
  max-width: 700px;
}

section.skills {
  max-width: none;
}

div.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.skills div {
  margin: 15px;
}

.devto-logo {
  height: 30px;
  width: 30px;
}
